$full: 800px;
$red: #8E1616;
$white: #FEFDFD;


.wrapper {
	width: $full;
	margin: auto;
	font-family: tahoma;
}

.head {
	width: $full;	
	background-color: #FFF3F3;
	display: flex;
	justify-content: space-between;
	.logo1 {
		width: 170px;
		margin: 25px 10px;
		img {
			width: 100%;	 
		}		
	}
	.banner {
		width: 450px;
		margin: 10px 10px;
		img {
		width: 100%;	 
		}		
	}
}

.nav {
	nav {
		width: $full;
		ul {
		list-style-type: none;
		background-color: $red;
		margin: 0px;		
		padding-top: 6px;
		padding-bottom: 6px;
		li {
			display: inline;
			
			a {
				text-decoration: none;
				color: $white;				
			}
		}
		}
	}	
}

.backgrImg {		
	width: $full;
	height: 500px;
	position: relative;	
	.Carinsurance {
		margin: auto;
    	background: rgba(255, 255, 255, 0);
    	position: absolute;
    	color: #FDFCFC;
    	top: 25px;
    	left: 20px; 				
	}		
	img {
		width: 100%;
		height: 100%;
	}	
}

.haken {
	color: #8FD2D4;
}

.form {
	width: 75%;
	height: 90%;
    left: 0;
    right: 0;
    top: 20%;
    margin: auto;    
	background: rgba(255, 255, 255, 0.7);
    border: 2px solid #4C4C4C;
    position: absolute;    
    img {
    	width: 100%;
    	height: 100%;
    }		
	.second {
		text-align: center;
		width: 70%;
		margin: auto;
		margin-bottom: 20px;
		padding-top: 30px;
	}
	.flex {
		width: 100%;		
		display: flex;
		justify-content: space-between;
		div {
			margin: 20px 50px;

		}			
	}
	.input {
		width: 180px;
		margin-left: auto;
		margin-right: auto;
		input {
			width: 100%;
			height: 40px;
			background-color: #339235;
			border-radius: 10px;
			border: 0;
			color: #FDFEFD;
			font-size: 25px;			
		}
	}
	.ergebnis {
		visibility:hidden;
		text-align: center;
		margin-top: 30px;
		font-size: 25px;
		color: #63A35F;		
	}		
}

label {
	input {
		width: 160px;
		height: 25px;
	}
	.country {		
		width: 160px;
		height: 25px;		
	}
}


.someInfo {
	width: 100%;
	height: 200px;
	text-align: center;
	background-color: #CECECE;
	margin-bottom: 15px;
	h1 {
		margin-top: 0px;
		padding-top: 55px;		
	}
	p {
		font-size: 20px;
		color: #383838;
		font-weight: bold;
	}
}

.flex2 {
	width: 95%;
	margin: 80px auto;	
	display: flex;
	justify-content: space-between;
	div {
		width: 40%;
		border: 2px solid #E9E8E9;
		border-radius: 4px;
		border-top-color: #4A4A4A;
		box-shadow: 0px 2px 0px #D7D6D7;
		padding: 10px;
		color: #5D636F;
		ul {
			list-style-type: none;											
		}		
		h5 {
			color: #303337;
		}
		p {			
			font-size: 15px;
		}
	}
}

.footer {
	width: 100%;
	height: 150px;
	background-color: #171717;
	color: #FFFFFF;
	margin-top: 20px;
	nav {
		width: $full;
		ul {
		list-style-type: none;
		margin: 0px;
		padding-top: 10px;				
		li {
			display: inline;			
			a {
				text-decoration: none;
				color: #FFFFFF;								
			}
		}
		}
	}
	div {
		width: 170px;
		margin: 25px 15px 15px auto;		
		img {
			width: 100%;
		}
		
	}
	p {
		width: 40%;
		margin: auto;
	}
}
