$full: 800px;
$red: #8E1616;
$white: #FEFDFD;
$Werb: #5C6C7E;
$mediaquery: 480px;

//wrapper start
.wrapper {
	max-width: $full;
	width: $full;
	margin: auto;
	font-family: tahoma;
	@media screen and (max-width: 480px) {
	.wrapper {
	width: $mediaquery;	
	margin: auto;
	font-family: tahoma;
	background-color: blue;
	}
	}
}
//wrapper end

//container head start
.head {
	width: $full;	
	background-color: #FFF3F3;
	display: flex;
	justify-content: space-between;
	.logo1 {
		width: 170px;
		margin: 25px 10px;
		img {
			width: 100%;	 
		}		
	}
	.banner {
		width: 450px;
		margin: 10px 10px;
		img {
		width: 100%;	 
		}		
	}
}
//container head end
//nav header start
.nav {
	nav {
		width: $full;
		ul {
		list-style-type: none;
		background-color: $red;
		margin: 0px;		
		padding-top: 6px;
		padding-bottom: 6px;
		li {
			display: inline;
			
			a {
				text-decoration: none;
				color: $white;				
			}
		}

		}
	}	
}
//nav header end
//container backgroundimage start
.backgrImg {		
	width: $full;
	height: 400px;
	position: relative;	
	.first {
		width: 100%;		
		background-image: transparent;		
		position: absolute;		
	}
	.carInsurance {
    	margin: 0px;
    	background: rgba(255, 255, 255, 0);
    	position: absolute;
    	color: $white;
    	top: 25px;
    	left: 20px;    	
    }    	
	img {
		width: 100%;
		height:100%;
	}	
}
//container backgroundimage end
//container formular start
.form {
	width: 75%;
	height: 90%;
    left: 0;
    right: 0;
    top: 20%;
    margin: auto;    
	background: rgba(255, 255, 255, 0.7);
    border: 2px solid #4C4C4C;
    position: absolute;    
    img {
    	width: 100%;
    	height: 100%;
    }		
	.second {
		text-align: center;
		width: 70%;
		margin: auto;
		margin-bottom: 20px;
		padding-top: 15px;
	}
	.flex {
		width: 100%;		
		display: flex;
		justify-content: space-between;
		//style icon formular start
		div {
			margin: 10px 50px;
			//style inputfeld start
			label {
				input {
					width: 160px;
					height: 25px;
				}
				.country {		
					width: 160px;
					height: 25px;		
				}
			}
			//style inputfeld end			
		}
		//style icon formular end			
	}
	//style submitButton start
	.submit {
		width: 180px;
		margin-left: auto;
		margin-right: auto;		
		input {
			width: 100%;
			height: 40px;
			background-color: #339235;
			border-radius: 10px;
			border: 0px;
			color: #FDFEFD;
			font-size: 25px;			
		}
	}
	//style submitButton end
	//style output start
	.ergebnis {
		visibility:hidden;
		text-align: center;
		color: #5EA15A;
		margin-top: 10px;
		font-size: 25px;		
	}
	//style output end		
}
//container formular end
//container some-info start
.someInfo {
	width: 100%;
	height: 200px;
	text-align: center;
	background-color: #CECECE;
	margin-bottom: 15px;
	h1 {
		margin-top: 0px;
		padding-top: 55px;		
	}
	p {
		font-size: 20px;
		color: #383838;
		font-weight: bold;
	}
}
//container some-info end
//container flex2 (werbung) start
.flex2 {
	width: 95%;	
	margin: 80px auto;	
	display: flex;
	justify-content: space-between;
	//container icon-style start
	div {
		width: 40%;
		border: 2px solid #EAEAEA;
		border-top-color: #4A4A4A;
		border-radius: 3px;
		padding: 10px;
		box-shadow: 0px 2px 0px #D7D6D7;
		color: $Werb;
		ul {
			list-style-type: none;			 
		}
		h4 {			
			margin-bottom: 0;
		}
		h5 {
			color: #575F64;
			margin-bottom: 0;
		}
		p {			
			font-size: 12px;
			margin-top: 0px;
		}
	}
	.haken {
	color: #8FD2D4;
	}
	//container icon-style end
}
//container flex2 (werbung) end
//container footer start
.footer {
	width: 100%;
	height: 150px;
	background-color: #171717;
	color: #FFFFFF;
	margin-top: 20px;
	//nav start
	nav {
		width: $full;
		ul {
		list-style-type: none;
		margin: 0px;
		padding-top: 10px;				
		li {
			display: inline;			
			a {
				text-decoration: none;
				color: #FFFFFF;								
			}
		}
		}
	}
	//nav end
	//logo start
	div {
		width: 170px;
		margin: 25px 15px 15px auto;		
		img {
			width: 100%;
		}
	//logo end
	}
	p {
		width: 40%;
		margin: auto;
	}
}
//container footer end