.wrapper {
  width: 800px;
  margin: auto;
  font-family: tahoma; }

.head {
  width: 800px;
  background-color: #FFF3F3;
  display: flex;
  justify-content: space-between; }
  .head .logo1 {
    width: 170px;
    margin: 25px 10px; }
    .head .logo1 img {
      width: 100%; }
  .head .banner {
    width: 450px;
    margin: 10px 10px; }
    .head .banner img {
      width: 100%; }

.nav nav {
  width: 800px; }
  .nav nav ul {
    list-style-type: none;
    background-color: #8E1616;
    margin: 0px;
    padding-top: 6px;
    padding-bottom: 6px; }
    .nav nav ul li {
      display: inline; }
      .nav nav ul li a {
        text-decoration: none;
        color: #FEFDFD; }

.backgrImg {
  width: 800px;
  height: 500px;
  position: relative; }
  .backgrImg .first {
    width: 100%;
    background-image: transparent;
    position: absolute; }
  .backgrImg .carInsurance {
    margin: 0px;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    color: #FEFDFD;
    top: 25px;
    left: 20px; }
  .backgrImg img {
    width: 100%;
    height: 95%; }

.haken {
  color: #8FD2D4; }

.form {
  width: 75%;
  height: 90%;
  left: 0;
  right: 0;
  top: 20%;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #4C4C4C;
  position: absolute; }
  .form img {
    width: 100%;
    height: 100%; }
  .form .second {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 15px; }
  .form .flex {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .form .flex div {
      margin: 10px 50px; }
      .form .flex div ul {
        list-style-type: none; }
  .form .input {
    width: 180px;
    margin-left: auto;
    margin-right: auto; }
    .form .input input {
      width: 100%;
      height: 40px;
      background-color: #339235;
      border-radius: 10px;
      color: #FDFEFD;
      font-size: 25px; }
  .form .ergebnis {
    visibility: hidden;
    text-align: center;
    color: #5EA15A;
    margin-top: 30px;
    font-size: 25px; }

label input {
  width: 160px;
  height: 25px; }
label .country {
  width: 160px;
  height: 25px; }

.someInfo {
  width: 100%;
  height: 200px;
  text-align: center;
  background-color: #CECECE;
  margin-bottom: 15px; }
  .someInfo h1 {
    margin-top: 0px;
    padding-top: 55px; }
  .someInfo p {
    font-size: 20px;
    color: #383838;
    font-weight: bold; }

.flex2 {
  width: 95%;
  margin: 80px auto;
  display: flex;
  justify-content: space-between; }
  .flex2 div {
    width: 40%;
    border: 2px solid black;
    padding: 10px; }
    .flex2 div ul {
      list-style-type: none; }
    .flex2 div h4 {
      color: #9CA1AF; }
    .flex2 div h5 {
      color: #575F64; }
    .flex2 div p {
      color: #A0B4BF;
      font-size: 15px; }

.footer {
  width: 100%;
  height: 150px;
  background-color: #171717;
  color: #FFFFFF;
  margin-top: 20px; }
  .footer nav {
    width: 800px; }
    .footer nav ul {
      list-style-type: none;
      margin: 0px;
      padding-top: 10px; }
      .footer nav ul li {
        display: inline; }
        .footer nav ul li a {
          text-decoration: none;
          color: #FFFFFF; }
  .footer div {
    width: 170px;
    margin: 25px 15px 15px auto; }
    .footer div img {
      width: 100%; }
  .footer p {
    width: 40%;
    margin: auto; }

/*# sourceMappingURL=style.css.map */
